/* Form Styling */
label.myinput{
    display: block;
    padding-top: 1rem;
}
.text-input{
    display: block;
    font-size: 1.2rem;
    padding: .3rem;
}
textarea{
    display: block;
}
/* .myradio{
    display: block;
}
label.myradio{
    display: block;
    margin: .3rem;
} */

.myradio{
    padding-bottom: 1rem;
}